@page
@model SharpSeer.Pages.Exams.Exam_PageModel
@{
}

<a class="btn btn-primary" href="/Exams/Exam_Page/?Create=0">Tilføj</a>

<table class="table">
	<thead>
		<tr>
			<th scope="col" >
				Navn
			</th>
			<th scope="col">
				Eksamens type
			</th>
			<th scope="col">
				Med vagt
			</th>
			<th scope="col">
				Ekstern censor
			</th>
			<th scope="col">
				Eksamens start
			</th>
			<th scope="col">
				Eksamens Slut
			</th>
			<th scope="col">
				Deadline for aflevering
			</th>
			<th scope="col">
				Eksmaens varighed
			</th>
			<th scope="col">
				
			</th>
			
		</tr>
	</thead>
	<tbody>
		@foreach (var exam in Model.Exams)
		{
			<tr>
				<td>
					@exam.Name
				</td>
				<td>
					@exam.ExamType
				</td>
				<td>
					@(exam.IsGuarded ? "Ja" : "Nej")
				</td>
				<td>
					@(exam.NeedExternalExaminer ? "Ja" : "Nej")
				</td>
				<td>
					@exam.FirstExamDate
				</td>
				<td>
					@exam.LastExamDate
				</td>
				<td>
					@exam.HandInDeadline
				</td>
				<td>
					@exam.DurationInMinutes minutter
				</td>
				<td>
					@* <a asp-page="/Exams/Edit" asp-route-id="@exam.Id" class="btn btn-primary" type="submit" name="Action" value="edit">
						Rediger
					</a> *@
					<form method="get">
					<a href="/Exams/Exam_Page/?Delete=@exam.Id" class="btn btn-danger" type="submit">
						Slet
					</a>
					</form>
				</td>
			</tr>
		}
</table>

@if (Model.ShowDelete)
{
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Er du sikker på du vil slette denne eksamen?</h4>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					@Model.Exam.Name
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<form method="post">
					<button type="submit" class="btn btn-danger">Ja</button>
					</form>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-primary">Nej</a>
				</div>
			</div>
		</div>
	</div>
}	
@if (Model.ShowCreate)
{
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Tilføj ny eksamen</h4>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<form asp-action="SubmitForm" asp-controller="Home" method="post">
				<div class="modal-body">
					<table class="table">
						
							
					
						<tbody>
							<tr>
								<th scope="col">
									Navn
								</th>
								<td>
									<input asp-for="Exam.Name" class="form-control" />
								</td>
							</tr>
                            <tr>
								<th scope="col">
									Eksamens type
								</th>
								<td>
									<input asp-for="Exam.ExamType" class="form-control" />
								</td>
							</tr>
							<tr>
								<th scope="col">
									Med vagt
								</th>
								<td>
									<input type="checkbox" asp-for="Exam.IsGuarded" />
								</td>
							</tr>
							<tr>
								<th scope="col">
									Ekstern censor
								</th>
								<td>
									<input type="checkbox" asp-for="Exam.NeedExternalExaminer" />
								</td>
							</tr>
							<tr>
								<th scope="col">
									Eksamens start
								</th>
								<td>
									<input asp-for="Exam.FirstExamDate" class="form-control" />
								</td>
							</tr>
							<tr>
								<th scope="col">
									Eksamens Slut
								</th>
								<td>
									<input asp-for="Exam.LastExamDate" class="form-control" />
								</td>
							</tr>
							<tr>
								<th scope="col">
									Deadline for aflevering
								</th>
								<td>
									<input asp-for="Exam.HandInDeadline" class="form-control" />
								</td>
							</tr>
							<tr>
								<th scope="col">
									Eksmaens varighed
								</th>
								<td>
									<input asp-for="Exam.DurationInMinutes" class="form-control" />
								</td>
							</tr>
						</tbody>
							
					</table>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					
					<button type="submit" class="btn btn-primary">Godkend</button>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-danger">Annuller</a>
				</div>
				</form>
			</div>
		</div>
	</div>
}







@section Scripts 
{
	<script>
		$(document).ready(function () {
			$("#myModal").modal({backdrop: "static"});
			$("#myModal").modal("show");
		});)
	</script>	
}