@page
@using SharpSeer.Models
@using static SharpSeer.Models.Exam
@model SharpSeer.Pages.Exams.Exam_PageModel
@{
}

<a class="btn btn-primary" href="/Exams/Exam_Page/?Create=0">Tilføj</a>

<table class="table">
	<form method="get">
		<thead>
			<tr>
				<th scope="col">
					<input type="text" class="form-control" asp-for="Name" placeholder="Navn" />
				</th>
				<th scope="col">
					<select asp-for="ExamType" asp-items="Html.GetEnumSelectList<ExamTypeEnum>()" class="form-select">
						<option value="">Alle</option>
					</select>
					@* <input type="int" class="form-control" asp-for="ExamType" placeholder="Eksamens type" /> *@
				</th>
				<th scope="col">
					<select asp-for="IsGuarded" class="form-select">
						<option value="">Alle</option>
						<option value="true">Ja</option>
						<option value="false">Nej</option>
					</select>
					@* <input type="checkbox" asp-for="IsGuarded" placeholder="Eksamens vagt" /> *@
				</th>
				<th scope="col">
					<select asp-for="NeedExternalExaminer" class="form-select"> 
						<option value="">Alle</option>
						<option value="true">Ja</option>
						<option value="false">Nej</option>
					</select>
					@* <input type="checkbox" asp-for="NeedExternalExaminer" placeholder="Udenfra kommende censor" /> *@
				</th>
				<th scope="col">
					<input type="datetime" class="form-control" asp-for="FirstExamDate" placeholder="Første eksamens dag" />
				</th>
				<th scope="col">
					<input type="datetime" class="form-control" asp-for="LastExamDate" placeholder="Sidste eksamens dag" />
				</th>
				<th scope="col">
					<input type="datetime" class="form-control" asp-for="HandInDeadline" placeholder="Deadline for aflevering, hvis skriftlig" />
				</th>
				<th scope="col">
					<input type="number" min="0" class="form-control" asp-for="DurationInMinutes" placeholder="Eksamens varighed" />
				</th>
				<th scope="col">
					<button type="submit" class="btn btn-primary">Søg</button>
				</th>
			</tr>
		</thead>
	@if (Model.AreYouAnIdiot)
	{
		<label style="color: red">Er du dum eller hva' ???</label>
	}
	</form>
		<thead>
			<tr>
				<th scope="col" >
					Navn
				</th>
				<th scope="col">
					Eksamens type
				</th>
				<th scope="col">
					Med vagt
				</th>
				<th scope="col">
					Ekstern censor
				</th>
				<th scope="col">
					Eksamens start
				</th>
				<th scope="col">
					Eksamens Slut
				</th>
				<th scope="col">
					Deadline for aflevering
				</th>
				<th scope="col">
					Eksmaens varighed
				</th>
				<th scope="col">
				
				</th>
			
			</tr>
		</thead>
	<tbody>
		@foreach (var exam in Model.Exams)
		{
			<tr>
				<td>
					@exam.Name
				</td>
				<td>
					@((ExamTypeEnum)exam.ExamType)
				</td>
				<td>
					@(exam.IsGuarded ? "Ja" : "Nej")
				</td>
				<td>
					@(exam.NeedExternalExaminer ? "Ja" : "Nej")
				</td>
				<td>
					@exam.FirstExamDate
				</td>
				<td>
					@exam.LastExamDate
				</td>
				<td>
					@exam.HandInDeadline
				</td>
				<td>
					@exam.DurationInMinutes minutter
				</td>
				<td>
					<form method="get">
						<a href="/Exams/Exam_page/?Update=@exam.Id" class="btn btn-primary" style="float: left;" type="submit">
							Opdater
						</a>
					</form>
				</td>
				<td>
					<form method="get">
					<a href="/Exams/Exam_Page/?Delete=@exam.Id" class="btn btn-danger" type="submit">
						Slet
					</a>
					</form>
				</td>
			</tr>
		}
</table>


@if (Model.ShowDelete)
{
	<style>
		.modal {
			background: rgba(55,55,55,.6);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
		}
	</style>
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Er du sikker på du vil slette denne eksamen?</h4>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					@Model.Exam.Name
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<form method="post">
					<button type="submit" class="btn btn-danger">Ja</button>
					</form>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-primary">Nej</a>
				</div>
			</div>
		</div>
	</div>
}	
@if (Model.ShowCreate)
{
	<style>
		.modal {
			background: rgba(55,55,55,.6);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
		}
	</style>
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Tilføj ny eksamen</h4>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
				<form method="post" asp-page-handler="Create">
					<div class="modal-body">
						<table class="table">
							<tbody>
								<tr>
									<th scope="col">
										Navn
									</th>
									<td>
										<input asp-for="Exam.Name" class="form-control" />
									</td>
								</tr>
								<tr>
									<th scope="col">
										Eksamens type
									</th>
									<td>
										<select asp-for="ExamType" asp-items="Html.GetEnumSelectList<ExamTypeEnum>()" class="form-select">
											<option value="">Vælg type</option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="col">
										Med vagt
									</th>
									<td>
										<select asp-for="IsGuarded" class="form-select">
											<option value="">Alle</option>
											<option value="true">Ja</option>
											<option value="false">Nej</option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="col">
										Ekstern censor
									</th>
									<td>
										<select asp-for="NeedExternalExaminer" class="form-select">
											<option value="">Alle</option>
											<option value="true">Ja</option>
											<option value="false">Nej</option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="col">
										Eksamens start
									</th>
									<td>
										<input asp-for="Exam.FirstExamDate" class="form-control" />
									</td>
								</tr>
								<tr>
									<th scope="col">
										Eksamens Slut
									</th>
									<td>
										<input asp-for="Exam.LastExamDate" class="form-control" />
									</td>
								</tr>
								<tr>
									<th scope="col">
										Deadline for aflevering
									</th>
									<td>
										<input asp-for="Exam.HandInDeadline" class="form-control" />
									</td>
								</tr>
								<tr>
									<th scope="col">
										Eksmaens varighed
									</th>
									<td>
										<input asp-for="Exam.DurationInMinutes" class="form-control" />
									</td>
                                </tr>
                            </tbody>
						</table>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
					
						<button type="submit" class="btn btn-primary">Opret</button>
						<a href="/Exams/Exam_Page" type="button" class="btn btn-danger">Annuller</a>
					</div>
				</form>
			</div>
		</div>
	</div>
}

@if (Model.ShowUpdate)
{
	<style>
		.modal {
			background: rgba(55,55,55,.6);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
		}
	</style>
	<!-- Modal -->
	<div style="display: block;" class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Opdater eksamen</h4>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-close"></a>
				</div>
				<!-- Modal body -->
			
				<form method="post" asp-page-handler="Update" asp-route-id="@Model.Exam.Id">
					<div class="modal-body">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Felt</th>
									<th scope="col">Nuværende værdi</th>
									<th scope="col">Ny værdi</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Navn</td>
									<td>@Model.Exam.Name</td>
									<td>
										<input asp-for="Exam.Name" class="form-control" />
									</td>
								</tr>

								<tr>
									<td>Eksamens type</td>
									<td>@((ExamTypeEnum)Model.Exam.ExamType)</td>
									<td>
										<select asp-for="ExamType"
												asp-items="Html.GetEnumSelectList<ExamTypeEnum>()"
												class="form-select">
										</select>
									</td>
								</tr>

								<tr>
									<td>Med vagt</td>
									<td>@(Model.Exam.IsGuarded ? "Ja" : "Nej")</td>
									<td>
										<input type="checkbox" asp-for="Exam.IsGuarded" />
									</td>
								</tr>

								<tr>
									<td>Ekstern censor</td>
									<td>@(Model.Exam.NeedExternalExaminer ? "Ja" : "Nej")</td>
									<td>
										<input type="checkbox" asp-for="Exam.NeedExternalExaminer" />
									</td>
								</tr>

								<tr>
									<td>Eksamens start</td>
									<td>@Model.Exam.FirstExamDate</td>
									<td>
										<input asp-for="Exam.FirstExamDate" class="form-control" />
									</td>
								</tr>

								<tr>
									<td>Eksamens slut</td>
									<td>@Model.Exam.LastExamDate</td>
									<td>
										<input asp-for="Exam.LastExamDate" class="form-control" />
									</td>
								</tr>

								<tr>
									<td>Deadline for aflevering</td>
									<td>@Model.Exam.HandInDeadline</td>
									<td>
										<input asp-for="Exam.HandInDeadline" class="form-control" />
									</td>
								</tr>

								<tr>
									<td>Eksamens varighed (minutter)</td>
									<td>@Model.Exam.DurationInMinutes</td>
									<td>
										<input asp-for="Exam.DurationInMinutes" class="form-control" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					
					<button type="submit" class="btn btn-primary">Opdater</button>
					<a href="/Exams/Exam_Page" type="button" class="btn btn-danger">Annuller</a>
				</div>
				</form>
			</div>
		</div>
	</div>
}

@if (Model.ShowCalendar)
{

}







@section Scripts 
{
	<script>
		$(document).ready(function () {
			$("#myModal").modal({backdrop: "static"});
			$("#myModal").modal("show");
		});)
	</script>	
}