@page
@using Microsoft.VisualBasic
@using MyApp.Namespace
@using SharpSeer.Models
@model MyApp.Namespace.CalendarViewModel
@{
}

<head>
    <style>
        * {
            box-sizing: border-box;
        }

        ul {
            list-style-type: none;
        }

        body {
            font-family: 'franklin gothic medium', sans-serif;
        }

        .month {
            padding: 20px 25px;
            width: 100%;
            background: #fff387;
            text-align: center;
        }

            .month ul {
                margin: 0;
                padding: 0;
            }

                .month ul li {
                    color: black;
                    font-size: 25px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }

            .month .prev {
                float: left;
                padding-top: 10px;
            }

            .month .next {
                float: right;
                padding-top: 10px;
            }

        .weekdays {
            margin: 0;
            padding: 10px 0;
            background-color: #F4A460;
        }

            .weekdays li {
                display: inline-block;
                width: 13.6%;
                color: #000000;
                text-align: center;
            }

        .days 
        {
            padding: 30px 0;
            background: #fafad2;
            margin: 10;
        }

            .days li
            {
                list-style-type: none;
                display: inline-block;
                width: 13.6%;
                text-align: center;
                margin-bottom: 25px;
                font-size: 12px;
                color: #777;
                border-left: 2px solid #FFDEAD;
                border-top: 2px solid #FFDEAD   ;
                padding: 10px 0;
            }

                .days li:nth-child(7n +1)
                {
                    border-left: none;
                }

                .days li:nth-child(-n+7)
                {
                    border-top: none;
                }

                .days li .active {
                    padding: 20px;
                    background: #1abc9c;
                    color: white !important;
                }

        .exam
        {
            background-color: #cd5c5c;
            font-size: 0.5vw;
            margin-bottom: 0.2rem;
        }

        .days li.empty
        {
            background-color: transparent;
            border: none;
        }
    </style>
</head>
<body>

<h1>CSS Calendar</h1>

<div class="month">
  <ul>
    <form method="post" asp-page-handler="PreviousMonth" asp-route-month="@Model.Month" asp-route-year="@Model.Year" asp-route-lastDayOfMonth="@Model.FirstDayOfMonth">
        <li class="prev">
            <button type="submit">&#10094;</button>
        </li>
    </form>
    <form method="post" asp-page-handler="NextMonth" asp-route-month="@Model.Month" asp-route-year="@Model.Year" asp-route-lastDayOfMonth="@Model.FirstDayOfMonth">
        <li class="next">
        <button type="submit">&#10095;</button>
        </li>
    </form>
    <li>
      @Model.MonthStr<br>
      <span style="font-size:40px">@Model.Year</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  @foreach (string day in Model.WeekNames)
  {
    <li>@day</li>
  }
</ul>

<ul class="days">
  @for (int i = 1; i < Model.FirstDayOfMonth; i++)
  {
    <li class="empty"></li>
  }
  
  @for (int day = 1; day <= Model.DaysInMonth; day++)
  {
    <li>@day
        @foreach (Models.Exam exam in Model.ExamButtons)
        {
            if(exam.FirstExamDate.Day > day)
            {
                break;
            }

            if (exam.LastExamDate.Day < day)
            {
                Model.ExamToBeDeleted.Add(exam);
            }
            
            if (exam.FirstExamDate.Day <= day && exam.LastExamDate.Day >= day)
            {
                <div>
                    <button class="btn exam">@exam.Name</button>
                </div>
            }
        }
    </li>
    foreach (Exam examToBeDeleted in Model.ExamToBeDeleted)
    {
        Model.ExamButtons.Remove(examToBeDeleted);
    }
    if (Model.ExamToBeDeleted.Count > 0)
    {
        Model.ExamToBeDeleted.Clear();
    }
  }
</ul> 

</body>
