@page
@model SharpSeer.Pages.Cohorts.Cohort_PageModel
@{
}
<h1>Cohort Page</h1>
<form method="get">
	<a asp-page="/Cohorts/Create" class="btn btn-primary" type="submit" name="Action" value="create">
		Tilføj
	</a>
	@* @if (Model.ShowCreate)
	{
		<iframe src="" width="100%" height="80"></iframe>
	} else
	{
		
	} *@
	
</form>
Filter





<table class ="table">
	<thead>
		<tr>
			<th scope="col">
				<input type="text" class="form-control" 
					   onchange="this.form.submit()" width="100" placeholder="Hold navn" style="margin-bottom:5px"/>
				Navn
			</th>
			<th scope="col">
				<input type="text" class="form-control"
					   onchange="this.form.submit()" width="100" placeholder="Retning" style="margin-bottom:5px" />
				Retning
			</th>
			<th scope="col">
				<input type="text" class="form-control"
					   onchange="this.form.submit()" width="100" placeholder="Semester" style="margin-bottom:5px"/>
				Semester
			</th>
			<th scope="col">
				
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cohort in Model.Cohorts)
		{
			<tr>
				<td>
					@cohort.Name
				</td>
				<td>
					@cohort.Major
				</td>
				<td>
					@cohort.Term
				</td>
				<td>
					<a asp-page="/Cohorts/Update" asp-route-id="@cohort.Id" class="btn btn-primary">
						Opdater
                    </a>
                    <a asp-page="/Cohorts/Delete" asp-route-id="@cohort.Id" class="btn btn-danger">Slet</a>
				</td>
			</tr>
		}
	</tbody>
</table> 
